<section id="0" class="window">


            <script data-main="/app/main" src="/app/require.js"></script>


            <div id="Banner" class="Banner_div">   

                <hgroup>
                    <h1>
                        <a href="index.html" title="home"></a> 
                    </h1>
                    <h2 id="user_connected"></h2>

                </hgroup>
                <header id="header_menu" class="header_menu">
                </header>

            </div>

            <div id="container">

                <div id="main-content" class="main-content">

<%= yield %>


                </div>

            </div>
        </section>
