/* 
    Document   : main
    Created on : 17 juin 2013, 10:24:02
    Author     : duperran
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{

    background-color: white;
    margin: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
a {
    outline-style: none;
    outline-width: 0;
}

h1{
    text-align:center;
    margin-top: 3px;
        
}
h2{
    font-family: Arial;
}
div#home_quote h2{
    font-family: arial;
    font-size: 20px;
    text-align: center;
    
}

h1 a {
    float: left;
    height: 40px;
    width: 210px;
    background-image: url(../images/geox.png);
    background-repeat: no-repeat;
    background-position: left 0px;
}
div#Banner h2{
    
    color: white;
    font-size: 16px;
}

.home_div h3{
    display: none;
    color: black;
    font-family: Arial;
    font-size: 17px;
    font-weight: lighter;
    
}
#myTest{
    width:100%;
    height: 100%;
}

#Banner{
    
   /* background-image: url(../images/back_zara.jpeg);*/
    background-repeat:repeat-x;
    width: 100%;
    height: 60px;
}
#tib_container_store, #tib_container_item{
    
    width: 100%;
    height: 0px;
    /*margin: 3px 0px 0px 18px;*/
   
        
        
}

ol, ul {
    list-style: none;
}
#nav {
position: relative;
margin: 0 auto;
margin-top: 10px;
padding: 10px;
}

/*#container{

    border: 0px solid #000;
    margin: 6px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: 800px;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}   */

header {
    height: 90px;
    width: 102%;
    z-index: 50000;
    top: 0px;
    position: absolute;
    background-repeat: repeat-x;
    background-position: center 0px;
    background:url(../images/header_back.png);
}

#header_menu{
    z-index: 999999;
}

#main-content{

    border: 0px solid #000;
    margin: 0px 0px;
    padding: 10px;
    width: 100%;
    float: left;
    display: inline-block;
    margin-top: 3px;
}

/*div#left{
    width:0px;
    height: 0px;
    border: 0px solid red;
    float: left;
        
    
}*/

div#right{
    width:350px;
    height: 700px;
    border: 0px solid green;
    float: right;
}
/*OLD, used for table layout*/
/*div#center{
    width:920px;
    height: 700px;
    border: 0px solid blue;
    margin-left: 20px;
 
}*/

div#item_top{
    width:100%;
    height: 420px;
    border: 0px solid red;
    border: 0px solid red;
    background-color: #f4f4f4;

        
    
}

div#res_table{
    height: 400px;
    float: left;
}





div#item_center{
    width:99%;
    height: 800px;
    border: 0px solid green;
    overflow: auto;
    box-shadow: 0px -5px 6px rgba(26, 25, 25, 0.68);
    
        
}



div#home_left{
    width:100%;
    height: 700px;
    border: 0px solid red;
    float: left;
        
    
}

div#cover_div{
    float: right;
    width: 600px;
    margin-right: 80px;
}


div#shops_info hgroup {
    display: none;
        
    
}

div#home_right{
    width:665px;
    height: 700px;
    border: 0px solid green;
    float: right;
}
.info_div{
    
    width: 100%;
    height: 300px;
    box-shadow: 8px -6px 12px rgba(26, 25, 25, 0.68);
    margin-bottom: 10px;
     border: 1px solid #ccc;
    padding: 8px;
}

.home_div{
    
    width: 0px;
    height: 0px;
    border-radius: 20px;
    box-shadow: 8px 8px 12px rgba(26, 25, 25, 0.68);  
    padding: 10px;
    float: left;
    margin-bottom: 10px;
    
        
     
}
.home_picture_div{
    
    width: 0px;
    height: 0px;
    box-shadow: 8px 8px 12px rgba(26, 25, 25, 0.68);  
    padding: 10px;
    float: right;
    margin-right: 30px;
    
}
div#home_quote{
    width: 700px;
    height: 200px;
    background-color: transparent;
    padding: 10px;
    float: left;
    display: none;
}

.backstretch{
    
    margin: 10px;
}



#shops_geo{
    
    background-image: url(../images/maps.jpeg);
}

div#left h1{
    
    color: black;
    padding-left: 5px;
    font-size: 20px;
    padding: 10px 10px 0 10px;
    font-family: Arial;
    
}

div#left h2{
    
    color: black;
    font-family: Arial;
    font-size: 17px;
    
}

#footer{

    margin-top: 20px;
    clear: both;
}
.div_wrapper{


    width: 960px;
    margin-right: auto;
    margin-left: auto;
}



ul#header_ul{
    
    margin:0px auto;
    position:relative;
    float:left;
}

ul#header_ul li{
    
    display:inline;
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding:0;
	float:left;
	position:relative;
	
}


ul#header_ul li a{
    
    padding:10px 25px;
    text-decoration:none;
    color: white;
    font-family: Arial;
    font-size: 14px;
    display: inline-block;
        
   	
}
ul#header_ul li a:hover {
	color:#c1d72f;
}

ul#header_ul li:hover > a {

}


/* Drop-Down Navigation */
ul#header_ul li:hover > ul
{
	visibility:visible;
	opacity:1;
}



ul#header_ul ul, ul#header_ul ul li ul {
list-style: none;
margin: 0;
padding: 0;
visibility: hidden;
position: absolute;
z-index: 99999;
width: 180px;
background: black;
box-shadow: 1px 1px 3px #ccc;
opacity: 0;
-webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
-moz-transition: opacity 0.2s linear, visibility 0.2s linear;
-o-transition: opacity 0.2s linear, visibility 0.2s linear;
transition: opacity 0.2s linear, visibility 0.2s linear;
}

ul#header_ul ul {
    
    top: 43px;
    left: 1px;
}

ul#header_ul ul li ul {
    top: 0;
    left: 181px;
}


ul#header_ul ul li {
	clear:both;
	width:100%;
	border:0 none;
	border-bottom:1px solid #c9c9c9;
}

ul#header_ul ul li a {
	background:none;
	padding:7px 15px;
	color:white;
	text-decoration:none;
	display:inline-block;
	border:0 none;
	float:left;
	clear:both;
	width:150px;
}

ul#header_ul li a.first {
	border-left: 0 none;
}

ul#header_ul li a.last {
	border-right: 0 none;
}

#tibbr_wall{
    
    width:95%;
    height: 95%;
    margin: 20px;
    margin-top: 10px;
    background-color: white;
    display: none;
    border: none;
}

.home2{
    width: 100%;
    height: 100%
        
}

div#explore{
    
    
}

/*****TABLE WITH FIX HEADERS********/

table#table_item,tr {
    height: 12px;
    
}
    
    
    table#table_item,td {
      border-bottom: 1px solid #f4f4f4;
      padding: 5px;
      text-align: left; /* IE */
    }
    table#table_item td + td {
      border-left: 1px solid #f4f4f4;
    }
    table#table_item,th {
      padding: 0 0px;
      text-align: left; /* IE */
    }
    .header-background {
      border-bottom: 1px solid black;
    }
    
    /* above this is decorative, not part of the test */
    
    .fixed-table-container {
      width: 100%;
      height: 200px;
      /*border: 1px solid black;*/
      margin: 3px auto;
      margin-bottom: 20px;
      background-color: white;
      /* above is decorative or flexible */
      position: relative; /* could be absolute or relative */
      padding-top: 30px; /* height of header */
      /*box-shadow: 8px -6px 12px rgba(26, 25, 25, 0.68);*/
    }

    .fixed-table-container-inner {
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;
    }
     
    .header-background {
      background-color: black;
      height: 30px; /* height of header */
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }
    
    table#table_item {
      background-color: white;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .th-inner {
      position: absolute;
      top: 0;
      line-height: 30px; /* height of header */
      text-align: left;
      border-left: 1px solid black;
      padding-left: 5px;
      margin-left: -5px;
      color: white;
      font-family: Arial;
    }
    .first .th-inner {
        border-left: none;
        padding-left: 6px;
      }
      
    /* for hidden header hack to calculate widths of dynamic content */
    
    .hidden-head {
      min-width: 530px; /* enough width to show all header text, or bad things happen */
    }
    
    .hidden-header .th-inner {
      position: static;
      overflow-y: hidden;
      height: 0;
      white-space: nowrap;
      padding-right: 5px;
    }
    
    /* for complex headers */
    
    .complex.fixed-table-container {
      padding-top: 60px; /* height of header */
      overflow-x: hidden; /* for border */
    }
    
    .complex .header-background {
      height: 60px;
    }
    
    .complex-top .th-inner {
      border-bottom: 1px solid black;
      width: 100%
    }
    
    .complex-bottom .th-inner {
      top: 30px;
      width: 100%
    }
    
    .complex-top .third .th-inner { /* double row cell */
      height: 60px;
      border-bottom: none;
      background-color: #D5ECFF;
    }
    
    
    
    /* for tableSorter headers */

    .fixed-table-container.sort-decoration { 
      overflow-x: hidden;
      min-width: 530px; /* enough width to show arrows */
    }
    .sort-decoration .th-inner {
      width: 100%;
    }
    .header .th-inner {
      background-color: #D5ECFF;
    }
    .headerSortUp .th-inner, .headerSortDown .th-inner {
      background-color: #5DDFFD;
    }
    span.sortArrow {
      background: url(icons/bg.gif) 0 4px no-repeat transparent;
      padding: 1px 10px;
      line-height: 30px;
    }
    .headerSortUp span.sortArrow {
      background: url(icons/asc.gif) 0 7px no-repeat transparent;
    }
    .headerSortDown span.sortArrow {
      background: url(icons/desc.gif) 0 7px no-repeat transparent;
    }
    
    table#table_item tbody tr:hover{
        cursor: pointer;
        background: #c1d72f;
    }
    
    
    /********ACCORDION*******/
    
    