/* 
    Document   : main
    Created on : 17 juin 2013, 10:24:02
    Author     : duperran
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{

    background-color: rgb(0,0,0);
}
a {
    outline-style: none;
    outline-width: 0;
}

h1{
    text-align:center;
    margin-top: 3px;
        
}
div#home_quote h2{
    font-family: arial;
    font-size: 20px;
    text-align: center;
        
}

h1 a {
    float: left;
    height: 193px;
    width: 210px;
    background-image: url(../images/Zara_Confirm.jpg);
    background-repeat: no-repeat;
    background-position: left 0px;
}

.home_div h3{
    display: none;
    color: white;
    font-family: Arial;
    font-size: 19px;
    font-weight: lighter;
    
}
#myTest{
    width:0px;
    height: 0px;
}

#Banner{
    
    background-image: url(../images/back_zara.jpeg);
    background-repeat:repeat-x;
    width: 100%;
    height: 200px;
   margin-top: 170px;
}
#tib_container_store, #tib_container_item{
    
    width: 96%;
    height: 0px;
    margin: 3px 0px 0px 18px;
   
        
        
}

ol, ul {
    list-style: none;
}
#nav {
position: relative;
margin: 0 auto;
margin-top: 10px;
padding: 10px;
}

#container{

    border: 0px solid #000;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    height: 800px;
    float: left;
    background-color: rgb(147, 167, 163);
    margin-top: -8px;
        
}   

header {
    height: 90px;
    width: 100%;
    z-index: 50000;
    top: 0px;
    position: absolute;
    background-repeat: repeat-x;
    background-position: center 0px;
    background:url(../images/header_back.png);
    margin-top: 286px;
}

#header_menu{

     margin-bottom: 20px;
}

#main-content{

    border: 0px solid #000;
    margin: 0px 0px;
    padding: 10px;
    width: 100%;
    float: left;
    display: inline-block;
    margin-top: 15px;
}

div#left{
    width:0px;
    height: 0px;
    border: 0px solid red;
    float: left;
        
    
}

div#right{
    width:350px;
    height: 700px;
    border: 0px solid green;
    float: right;
}

div#center{
    width:900px;
    height: 700px;
    border: 0px solid blue;
 
}

div#item_left{
    width:620px;
    height: 700px;
    border: 0px solid red;
    float: left;
    border: 0px solid red;
        
    
}



div#item_center{
    width:680px;
    height: 700px;
    border: 0px solid green;
    
        
}



div#home_left{
    width:100%;
    height: 700px;
    border: 0px solid red;
    float: left;
        
    
}


div#shops_info hgroup {
    display: none;
        
    
}

div#home_right{
    width:665px;
    height: 700px;
    border: 0px solid green;
    float: right;
}
.info_div{
    
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 20px;
    box-shadow: 8px 8px 12px rgba(26, 25, 25, 0.68);
    margin-bottom: 10px;
     
}

.home_div{
    
    width: 0px;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 20px;
    box-shadow: 8px 8px 12px rgba(26, 25, 25, 0.68);  
    padding: 10px;
    float: left;
    margin-bottom: 10px;
        
     
}
.home_picture_div{
    
    width: 0px;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 8px 8px 12px rgba(26, 25, 25, 0.68);  
    padding: 10px;
    float: right;
    margin-right: 30px;
    
}
div#home_quote{
    width: 700px;
    height: 200px;
    background-color: transparent;
    padding: 10px;
    float: left;
    display: none;
}

.backstretch{
    
    margin: 10px;
}



#shops_geo{
    
    background-image: url(../images/maps.jpeg);
}

div#left h1{
    
    color: white;
    padding-left: 5px;
    font-size: 20px;
    padding: 10px 10px 0 10px;
    font-family: Arial;
    
}

div#left h2{
    
    color: white;
    font-family: Arial;
    font-size: 17px;
    
}

#footer{

    margin-top: 20px;
    clear: both;
}
.div_wrapper{


    width: 960px;
    margin-right: auto;
    margin-left: auto;
}



ul#header_ul{
    
    margin:0px auto;
    position:relative;
    float:left;
}

ul#header_ul li{
    
    display:inline;
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding:0;
	float:left;
	position:relative;
	
}


ul#header_ul li a{
    
    padding:10px 25px;
    text-decoration:none;
    color: white;
    font-family: Arial;
    font-size: 14px;
    display: inline-block;
        
   	
}
ul#header_ul li a:hover {
	color:#c1d72f;
}

ul#header_ul li:hover > a {

}


/* Drop-Down Navigation */
ul#header_ul li:hover > ul
{
	visibility:visible;
	opacity:1;
}



ul#header_ul ul, ul#header_ul ul li ul {
list-style: none;
margin: 0;
padding: 0;
visibility: hidden;
position: absolute;
z-index: 99999;
width: 180px;
background: black;
box-shadow: 1px 1px 3px #ccc;
opacity: 0;
-webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
-moz-transition: opacity 0.2s linear, visibility 0.2s linear;
-o-transition: opacity 0.2s linear, visibility 0.2s linear;
transition: opacity 0.2s linear, visibility 0.2s linear;
}

ul#header_ul ul {
    
    top: 43px;
    left: 1px;
}

ul#header_ul ul li ul {
    top: 0;
    left: 181px;
}


ul#header_ul ul li {
	clear:both;
	width:100%;
	border:0 none;
	border-bottom:1px solid #c9c9c9;
}

ul#header_ul ul li a {
	background:none;
	padding:7px 15px;
	color:white;
	text-decoration:none;
	display:inline-block;
	border:0 none;
	float:left;
	clear:both;
	width:150px;
}

ul#header_ul li a.first {
	border-left: 0 none;
}

ul#header_ul li a.last {
	border-right: 0 none;
}

#tibbr_wall{
    
    width:95%;
    height: 95%;
    margin: 20px;
    margin-top: 10px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 8px 8px 8px rgba(147, 167, 163,0.64); 
    display: none;
}

.home2{
    width: 100%;
    height: 100%
        
}

.table_data{
    
    width: 96%;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 20px;
    box-shadow: 8px 8px 12px rgba(26, 25, 25, 0.68);
    margin:3px 0px 0px 18px;
}


.table_data table { 
  width: 95%; 
  margin: 20px;
  border-collapse: collapse; 
}
/* Zebra striping */
.table_data tr:nth-of-type(odd) { 
  background: #eee; 
}
 .table_datath { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
.table_data td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

.table_data_container{
    width: 100%
    
}
.table_data tbody{
}
.table_data thead tr{
}

