<div id="myTest">
<table>
                <tr>
                    <td>
                       <div id="left">
                           
                          
                           <section class="ac-container">
				<div>
					<input id="ac-1" name="accordion-1" type="checkbox" />
					<label for="ac-1">Where</label>
					<article class="ac-small">
						<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.</p>
					</article>
				</div>
				<div>
					<input id="ac-2" name="accordion-1" type="checkbox" />
					<label for="ac-2">Who</label>
					<article class="ac-medium">
						<p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price. </p>
					</article>
				</div>
				<div id="shops_geo">
					<input id="ac-3" name="accordion-1" type="checkbox" />
					<label for="ac-3">Map</label>
					<article class="ac-large">
					</article>
				</div>
				<div>
					<input id="ac-4" name="accordion-1" type="checkbox" />
					<label for="ac-4">Contact</label>
					<article class="ac-large">
						<p>You see? It's curious. Ted did figure it out - time travel. And when we get back, we gonna tell everyone. How it's possible, how it's done, what the dangers are. But then why fifty years in the future when the spacecraft encounters a black hole does the computer call it an 'unknown entry event'? Why don't they know? If they don't know, that means we never told anyone. And if we never told anyone it means we never made it back. Hence we die down here. Just as a matter of deductive logic. </p>
					</article>
				</div>
			</section>
                           <!--div id="shops_info" class="info_div">
                               
                               <hgroup>
                               <h1>Diesel Store Paris</h1>
                               <h2>
                                   -> Where? </br></br>
                                   21 Rue Montmartre</br>
                                   Paris
                               </h2>  
                               </hgroup>
                               
                           </div> 
                           
                           <div id="shops_geo" class="info_div">
                                 
                               
                           </div--> 
                            
                       </div>
                    </td>
                    <td> <div id="center">
                    <div id="tib_container_store" class="info_div tib_container">
                   <iframe id="tibbr_wall" src="http://tibbr.localdomain.com/a/gadgets/wall_messages.html"></iframe>
                   </div>
                    
                </div>
                    </td>
                    <td><div id="right"></div></td>
                    
                </tr>
                
                
            </table>
    
</div>
    