<div class="resource_menu">

    <ul>
        <li id="0" class="selected"><span>All</span></li>
        <li id="1"><span>Shoes</span></li>
        <li id="2"><span>Jeans</span></li>
        <li id="3"><span>Top</span></li>
        <li id="4"><span>Stores</span></li>


    </ul>
</div>
<div id="wrapper">
<div class="search_box">
    <div class="search_box_title">
        <h4>Search</h4>
    </div>    
    <div class="search_box_field">    
        <fieldset>
            <input type="text" placeholder="search" class="search_box_input ui-autocomplete-input">
            <button class="search_button"></button>
        </fieldset>
    </div>
</div>
<div class="resource-item-directory">


    <ul id="test_truc">

    </ul>   
    

</div>
    
        
                
<div class="more_resource">
<ul id="more_ul">
        <li>
            <a id="more">More V</a>
        </li>
    </ul>
</div>
</div>    