<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/retailapp/app/images/carousel-1.jpg" alt="">
          <div class="container">
            <div class="carousel-caption" style="margin-bottom: 100px;margin-left: 450px">
              <h1>Discover.</h1>
              <p class="lead">Latest items of the collection like Shoes, Jeans, Tops </p>
              <a class="btn btn-large btn-primary" href="#explore/">Explore</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/retailapp/app/images/carousel-2.jpg" alt="">
          <div class="container">
              <div class="carousel-caption" style="margin-bottom: 0px;margin-left: 530px">
              <h1>Follow.</h1>
              <p class="lead">Follow Like and Comment items of the newest collections or simply your favorites ones.</p>
              <a class="btn btn-large btn-primary" href="#explore/">Follow</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/retailapp/app/images/carousel-4.jpg" alt="">
          <div class="container">
            <div class="carousel-caption" style="margin-bottom: 100px;margin-left: 462px">
              <h1>Stay Connected.</h1>
              <p class="lead">Whith the outlets you are  wotking with and connect with co-workers </p>
              <a class="btn btn-large btn-primary" href="#explore/">Find your Shops</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>
