<style>





</style>
<div id="item_top">
    <!--select id="select_items" >
    </select--> 
    <!--div id="res_table">
        <div class="fixed-table-container hidden-head">
            <div class="header-background"> </div>
            <div class="fixed-table-container-inner">
                <table cellspacing="0" id="table_item">
                    <thead>
                        <tr>
                            <th class="first">
                    <div class="th-inner">Reference</div>
                    </th>
                    <th>
                    <div class="th-inner second">Name</div>
                    </th>
                    <th>
                    <div class="th-inner">Type</div>
                    </th>
                    </tr>
                    <tr class="hidden-header">
                        <th class="first">
                    <div class="th-inner">First Column</div>
                    </th>
                    <th>
                    <div class="th-inner second">Second and Longer than Content in the Column</div>
                    </th>
                    <th>
                    <div class="th-inner">Third</div>
                    </th>
                    </tr>
                    </thead>
                    <tbody id="test_truc">

                    </tbody>
                </table>
            </div>
        </div>
    </div-->   
    <div class="panel panel-primary item_panel1">

     <div class="panel-heading ">
                    <h3 class="panel-title">Items</h3>
                    
     </div> 
    <div class="resouces_table">
        <div class="res_table_header">
            <div class="res_left">
                <span>Reference</span>
            </div>
            <div class="res_middle">

                <span>Name</span>

            </div>
            <div class="res_left">
                <span>Type</span>

            </div>

        </div>    
        <div class="res_table">
            <ul>


            </ul>   

        </div>
    </div>    
    </div>
    
    <div class="panel panel-primary item_panel2">

                <div class="panel-heading ">
                    <h3 class="panel-title">Pics</h3>
                    
                </div>   
                <div id="item_panel_desc2">
		    <div id="pics_container">
                    <ul id="item_gallery" class="gallery clearfix resource_gallery">
                    
                    </ul>
                    </div>     
                        
                </div>

            </div>
    <!--div id="cover_div">


    </div-->


</div>


<div id="item_center">

    <div id="tib_container_item" class="tib_container tibbr_item_div">
        <iframe id="tibbr_wall" src=""></iframe>                    




    </div>





